<html>
	<head>
		<title>KIT</title>
		<style>
			*{font-size:40px;}
			body{background-color:lightseagreen;}
			.nav{background-color:black;}
			.nav a{color: white; text-decorations:none; margin:5%;}
		</style>
	</head>
	<body>
		<center>
			<div class="nav">
				<a href="{%  url 'home' %}">Home</a>
				<a href="{%  url 'dept' %}">Department</a>
				<a href="{%  url 'student' %}">Student</a>
			</div>
			<h1> Add Student Page</h1>
			<br><br>
			<form method="POST">
			{% csrf_token %}
				<table>
					{{ fm.as_table}}
				</table>
				<br>
					<input type="submit"/>
			</form>
			<h2>{{msg}}</h2>
		</center>
	</body>
</html>